.myXpPro
/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: "Bellerose";
  src: url('../fonts/Bison-Bold(PersonalUse).ttf');
}

@font-face {
  font-family: "Move";
  src: url('../fonts/CaviarDreams_Bold.ttf');
}

h2 {
  display: none;
}

@media (min-width: 300px) {
  /*MOBILE VERSION*/


.line-1{
    width: 100%;
    margin: 0px;
    margin: auto;
    border-right: 2px solid orange;
    font-size: 22px;
    font-weight: lighter;
    text-align: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 3s steps(44) 1s 1 normal both,
             blinkTextCursor 900ms steps(44) 3.6s normal;

}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7.7em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: orange;}
  to{border-right-color: white;}
}
}

  #menuDesk, .myXpPro figure {
    display: none;
  }
  .navbar-customized button {
    width: 100%;
  }
  .navbar-customized div {
    height: 2px;
    width: 27px;
    background-color: red;
    margin-bottom: 5px;
  }
  .navbar-customized #menuRed {
    background-color: blue;
  }
  .navbar-customized #menuYellow {
    background-color: yellow;
  }
  .navbar-customized #menuPurple {
    background-color: purple;
  }
  #myName {
    text-align: center;
    color: #404727;
    font-family: "Bellerose";
    letter-spacing: 1px;
    font-size: 25px;
    margin: 0px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #myPosition {
    text-align: center;
    font-weight: lighter;
  }
  .navbar-customized {
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    z-index: 12;
  }
  #mySpec {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  .collapse.show {
    width: 100%;
    text-align: center;
  }
  .carousel-item p {
    font-size: 12px;
  }
  .navbar-light .navbar-nav .active>.nav-link {
    border-bottom: .1px solid black;
    font-family: "Bellerose";
    width: 100%;
    text-align: center;
    margin: auto;
    font-weight: bold;
    text-align: center;
    background-color: #404727;
    color: white;
  }
  .navbar-light .navbar-toggler {
    border: 0px;
  }
  #office {
    margin: 58px 0px 0px 0px;
    background-image: url(../img/office-mobile.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #formation {
    margin: 0px;
    background-image: url(../img/formation-mobile.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #loisirs {
    margin: 0px;
    background-image: url(../img/loisirs-mobile.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #formation .opac-div {
    float: left;
  }
  .opac-div {
    max-width: 50%;
    width: 50%;
    height: 200px;
    float: right;
    background: rgba(255, 255, 255, 0.7);
    display: block;
  }
  .opac-div .xpPro {
    font-size: 15.5px;
    font-weight: bolder;
    color: #2d3714;
    font-family: "Bellerose";
    margin: 35px 0px 0px 5px;
  }
  .asideOpacDiv {
    display: flex;
    flex-direction: column;
    margin: 4px 0px 0px 5px;
  }
  .asideOpacDiv a {
    color: #818181;
    opacity: .6;
    font-size: 12.4px;
  }
  .lareference {
    margin: 0%;
    height: 100vh;
  }
  #references h3 {
    color: #565e42;
    display: block;
    background-color: white;
    padding: 2% 0%;
    border-top: 2px solid;
    text-align: center;
    padding-top: 2%;
    font-size: 30px;
    text-align: center;
    margin: 0px;
  }
  .carousel-item {
    margin: auto;
    height: 100vh;
    text-align: center;
    color: white;
    font-style: oblique;
    background-color: #565e42;
  }
  .carousel-item p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0% 12%;
    margin: auto;
    height: 140px;
  }
  .asideOpacDiv a:hover {
    text-decoration: none;
    opacity: 5;
  }
  .myXpPro .presentationXP {
    width: 100%;
    border: 2px solid white;
    background-color: #2d3714;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    opacity: .8
  }
  .myXpPro .presentationXP p {
    margin: 0px;
    color: white;
    text-align: center;
  }
  .myXpPro .presentationXP .company {
    font-size: 15px;
    font-family: "Bellerose";
    font-weight: bolder;
  }
  .myXpPro .presentationXP .xpDuration {
    font-size: 12px;
  }
  .myXpPro .presentationXP .xpPosition {
    font-size: 15px;
    font-weight: bolder;
  }
  .myMissions {
    height: 238px;
    width: 99%;
    margin: auto;
    border: 3px solid #2d3714;
  }
  .myMissions ul {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 7px;
    background: rgba(255, 255, 255, 0.7);
  }
  .myXpPro .myMissions ul li {
    font-size: 10px;
    font-family: "Move";
  }
  .simplon {
    height: 360px;
  }
  #map {
    width: 100%;
    height: 250px;
  }
  #mapPics figure {
    display: none;
  }
  #localisation {
    height: 60px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #565e42;
  }
  #localisation p {
    text-align: center;
    color: white;
    font-weight: lighter;
    margin: 0px;
  }
  #localisation i {
    color: white;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 2% 0%;
    display: none;
  }
  form p {
    font-weight: bold;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    text-decoration: underline;
    text-decoration: none;
  }
  form input {
    width: 80%;
    border-radius: 0px;
    border: solid 1px #2d3714;
    height: 30px;
  }
  form #message {
    padding: 31px 24px;
    border: 1px solid #2d3714;
    width: 80%;
  }
  form #envoyer {
    background-color: white;
    transition: .5s;
  }
  form #envoyer:hover {
    background-color: #2d3714;
    color: white;
    transition-duration: .5s;
  }
  footer {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #2d3714
  }
  footer a i {
    color: white;
  }
}

@media (min-width: 430px) {
  #office {
    background-image: url(../img/office.-tab.jpg);
    height: 320px;
  }
  #formation {
    background-image: url(../img/formation-tab.jpg);
    height: 320px;
  }
  #loisirs {
    background-image: url(../img/loisirs-tab.jpg);
    height: 320px;
  }
  .opac-div {
    height: 420px;
  }
  .carousel-item p {
    font-size: 14px;
  }
  .opac-div .xpPro {
    margin: 89px 0px 0px 5px;
    font-size: 16px;
  }
  .asideOpacDiv a {
    font-size: 14px;
  }
  .myXpPro .myMissions ul li {
    font-size: 10px;
    font-family: "Move";
  }
  .simplon {
    height: 400px;
  }
}

@media (min-width: 730px) {
  #navbar-desktop {
    position: fixed;
    z-index: 5;
    background-color: white;
    width: 100%;
    top: 0%;
  }
  #office {
    background-image: url(../img/office.jpg);
    height: 420px;
    background-attachment: fixed;
  }
  #formation {
    background-image: url(../img/formation.jpg);
    height: 420px;
    background-attachment: fixed;
  }
  #loisirs {
    background-image: url(../img/loisirs.jpg);
    height: 420px;
    background-attachment: fixed;
  }
  .opac-div {
    height: 420px;
    position: inherit;
  }
  .opac-div .xpPro {
    margin: 109px 0px 0px 5px;
    font-size: 28px;
  }
  .myXpPro .presentationXP .company {
    font-size: 25px;
  }
  .asideOpacDiv a {
    font-size: 20px;
  }
  .navbar-customized {
    display: none;
  }
  #menuDesk {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    border-top: .1px solid #404727;
    border-bottom: .1px solid #404727;
    height: 50px;
    align-items: center;
  }
  .myXpPro .myMissions ul li {
    font-size: 14px;
    font-family: "Move";
  }
  #menuDesk a {
    color: #404727;
    font-weight: bold;
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Move";
  }
  #menuDesk a:hover {
    text-decoration: none;
    background-color: #404727;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
  }
  .carousel-item p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0% 18%;
    margin: auto;
    font-size: 22px;
    height: 243px;
  }
  .myXpPro .presentationXP {
    border: 0px;
    height: 90px;
  }
  .myXpPro {
    display: flex;
    flex-wrap: wrap;
  }
  .myXpPro .myMissions {
    width: 50%;
    height: 350px;
    border: 0px;
    border-right: 2px solid #404727;
  }
  .myXpPro figure {
    width: 50%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myXpPro figure img {
    width: 90%;
  }
  .myXpPro figure #aventaPic {
    width: 25%;
  }
  .myXpPro figure #lyca {
    width: 43%;
    height: 350px;
  }
  .myXpPro figure #courirPic {
    width: 18%;
    height: 82px;
  }
  .myXpPro figure #iut {
    width: 50%;
  }
  #formation, #loisirs {
    margin: 0px;
  }
  .myXpPro figure #mbway {
    width: 36%;
  }
  .myXpPro figure #mendel {
    width: 26%;
  }
  .borderSeparation {
    border-right: 2px solid #404727;
  }
  form input {
    width: 40%;
  }
  footer a i {
    font-size: 29px;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after, *:first-letter, *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
